//Positioning

$absolute: absolute;
$relative: relative;
$flex: flex;

//Typography
$font-family: "Josefin Sans", sans-serif;
$btn-blue: hsl(220, 98%, 61%);
$white: #fff;
$very-dark-grayish-blue: hsl(235, 19%, 35%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$gradient-bg: linear-gradient(
  to bottom right,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

//Typography - dark mode
$very-dark-grayish-blue: hsl(237, 14%, 26%);
$very-light-graying-blue: hsl(233, 14%, 35%);

@mixin font-size($size) {
  font-size: $size;
}

//Box model
$width: 100%;
$gap: 35px;

@mixin border-raduis($var) {
  border-radius: $var;
}
@mixin element-size($w, $h) {
  height: $h;
  width: $w;
}

@mixin padding($args...) {
  padding: $args;
}

@mixin margin($args...) {
  margin: $args;
}

@mixin border($args...) {
  border: $args;
}

//Misc
$pointer: pointer;
