* {
  font-family: "Josefin Sans", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background {
  position: absolute;
  z-index: -1;
}

.container {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 5%;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 1rem;

    h1 {
      margin: 0;
      letter-spacing: 10px;
      color: #fff;
      font-size: 2.5em;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 35px;

    & > * {
      border-radius: 5px;
    }

    form {
      background: #fff;
      padding: 6px 0 5px 20px;

      .add-task {
        padding: 15px;
        width: 60%;
        border: none;
        font-size: 15px;
        outline: none;
      }
    }

    .todo-box,
    .filter-tab {
      border-radius: 5px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.9px);
      -webkit-backdrop-filter: blur(4.9px);
      border: 1px solid rgba(255, 255, 255, 0.62);
    }
    ul {
      padding: 0;
      list-style-type: none;
      margin: 0;

      li {
        display: flex;
        margin: auto;
        padding: 20px;
        border-bottom: 1px solid grey;
        
        .checkbox-icon {
          border: 1px solid grey; 
          border-radius: 50%; 
          cursor: pointer; 
        }
        .todo-list {
          padding: 3px 0 0 15px;
        }

        button {
          margin-left: auto;
          background: none;
          border: none;

          img {
            width: 80%;
          }
        }
      }
    }

    .bottom-navbar {
      display: flex;
      padding: 15px 20px;
      font-size: 12px;
      gap: 15px;
      justify-content: space-between;

      .navbar-btn {
        border: none;
        background: none;
        cursor: pointer;

        &:hover {
          color: hsl(220, 98%, 61%);
        }
      }

      & > * {
        margin: 0;
      }
    }

    .filter-tab {
      padding: 20px;
      display: flex;
      justify-content: center;
      gap: 20px;

      & button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 18px;

        &:hover {
          color: hsl(220, 98%, 61%);
        }
      }
    }
  }
}
input[type="checkbox"]::after {
  top: -3px;
  position: relative;
  left: -2px;
  padding: 0px 9px 6px 10px;
  border: 1px solid grey;
  content: "";
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
 
input[type="checkbox"]:checked::after { 
  top: -1px;
  position: relative;
  left: -2px;
  color: white;
  background: linear-gradient(to bottom right, #57ddff, #c058f3);
  content: "✔";
  border-radius: 50%;
  font-size: 10px;
  padding: 5px 5px 4px 6px;
  box-sizing: border-box;
} 
 

@media only screen and (max-width: 992px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .background {
    height: 250px;
  }
}
