@charset "UTF-8";
* {
  font-family: "Josefin Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background {
  position: absolute;
  z-index: -1;
}

.container {
  width: 40%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.container header h1 {
  margin: 0;
  letter-spacing: 10px;
  color: #fff;
  font-size: 2.5em;
}

.container header img {
  width: 25px;
  height: 25px;
}

.container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.container main > * {
  border-radius: 5px;
}

.container main form {
  background: #fff;
  padding: 6px 0 5px 20px;
}

.container main form .add-task {
  padding: 15px;
  width: 60%;
  border: none;
  font-size: 15px;
  outline: none;
}

.container main .todo-box,
.container main .filter-tab {
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.62);
}

.container main ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.container main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.container main ul li .checkbox-icon {
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

.container main ul li .todo-list {
  padding: 3px 0 0 15px;
}

.container main ul li button {
  margin-left: auto;
  background: none;
  border: none;
}

.container main ul li button img {
  width: 80%;
}

.container main .bottom-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  font-size: 12px;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container main .bottom-navbar .navbar-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.container main .bottom-navbar .navbar-btn:hover {
  color: #3a7bfd;
}

.container main .bottom-navbar > * {
  margin: 0;
}

.container main .filter-tab {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.container main .filter-tab button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.container main .filter-tab button:hover {
  color: #3a7bfd;
}

input[type="checkbox"]::after {
  top: -3px;
  position: relative;
  left: -2px;
  padding: 0px 9px 6px 10px;
  border: 1px solid grey;
  content: "";
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  top: -1px;
  position: relative;
  left: -2px;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(to bottom right, #57ddff, #c058f3);
  content: "✔";
  border-radius: 50%;
  font-size: 10px;
  padding: 5px 5px 4px 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .background {
    height: 250px;
  }
}
/*# sourceMappingURL=styles.css.map */