@import 'variables';


* {
  font-family: $font-family;
}

html,
body {
  overflow-x: hidden;
  @include margin(0);
  @include padding(0);

  .background {
    z-index: -1;
    position: $absolute;
  }
}

.container {
  color: $very-dark-grayish-blue;
  display: $flex;
  flex-direction: column;
  width: calc(#{$width} - 60%);
  @include margin(auto);
  @include padding(5%);

  header {
    justify-content: space-between;
    display: $flex;
    @include margin(2rem 0 1rem);

    h1 {
      letter-spacing: 10px;
      color: $white;
      @include margin(0);
      @include font-size(2.5em);
    }
    img {
      @include element-size(25px, 25px);
    }
  }

  main { 
    flex-direction: column;
    display: $flex;
    gap: $gap;

    & > * {
      @include border-raduis(10px);
    }
    
    .form-light, .form-dark {
      @include padding(6px 0 5px 20px);

      .add-task {
        outline: none;
        width: calc(#{$width} - 40%);
        @include border(none);
        @include font-size(15px);
        @include padding(15px);
      }
    } 
    .form-light {
      background: $white; 

      .add-task {
        color: $very-dark-grayish-blue;
      }
    }

    .form-dark { 
      background: $very-dark-grayish-blue;  

      .add-task { 
        background: $very-dark-grayish-blue; 
        color: $very-light-grayish-blue;

        &::placeholder {
          color: $very-light-grayish-blue;
        }
      }
    }
     

    .todo-box,
    .filter-tab {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.9px);
      -webkit-backdrop-filter: blur(4.9px);
      @include border-raduis(10px);
      @include border(1px solid rgba(255, 255, 255, 0.62));
    }

    .light-mode {
      color: $very-dark-grayish-blue;
      background: rgba(255, 255, 255, 1);
    }

    .dark-mode {
      color: $very-light-grayish-blue;
      background: $very-dark-grayish-blue;
      border: none;
    }

    ul {
      list-style-type: none;
      @include margin(0);
      @include padding(0);

      li {
        display: $flex;
        border-bottom: 1px solid $very-light-grayish-blue; 
        @include margin(auto);
        @include padding(20px);

        label input {
          opacity: 0;
        }
         
        .todo-list-active { 
          text-decoration: none;
          @include padding(3px 0 0 15px); 
        }

        .todo-list-inactive {
          text-decoration: line-through;
          color: $dark-grayish-blue;
          @include padding(3px 0 0 15px); 
        }

        button {
          margin-left: auto;
          background: none;
          @include border(none);

          img {
            @include element-size(80%, 80%);
          }
        }
      }
    }

    .bottom-navbar {
      justify-content: space-between;
      display: $flex; 
      gap: cal(#{$gap} - 20px); 
      color: $dark-grayish-blue; 
      @include font-size(12px);
      @include padding(15px 20px);

      button {
        background: none;
        cursor: $pointer; 
        color: $dark-grayish-blue;
        @include border(none);  

        &:hover {
          color: $very-dark-grayish-blue;
        }

        &:focus {
          color: $btn-blue;
        }
 
      }

      & > * {
        @include margin(0); 
      } 
    }

    //for btn in bottom navbar in mobile size
    .filter-tab { 
      display: $flex;
      justify-content: center;
      gap: cal(#{$gap} - 10px);
      @include padding(20px); 

      & button {
        background: none;
        color: $dark-grayish-blue; 
        cursor: $pointer;
        @include border(none);
        @include font-size(18px);

        &:hover {
          color: $very-dark-grayish-blue;
        }

        &:focus {
          color: $btn-blue;
        }
      }
    }
  } 
}

.mobile-size { 
  display: none;
  visibility: hidden;
}

/////  Checkbox styling ///////

// for when checkbox is true
.checked-label {
  left: 0;
  cursor: $pointer;
  background: $gradient-bg;
  position: $relative;
  @include element-size(22px, 22px);
  @include border-raduis(50%);

  .checked-span {
    position: $absolute;
    left: 9px;
    top: 1px;
    @include font-size(13px);
    transform: rotate(20deg);
  }

  .checked-span::after {
    content: "✔";
    color: $white;
    position: $absolute;
    @include element-size(100%, 100%);
    @include border-raduis(50%);
  }

  span::before {
    content: "";
    opacity: 0;
  }
}

/////////////  unhovered label

.unhovered-label {
  @include border(1px solid grey);
  @include element-size(20px, 20px);
  @include border-raduis(50%);
  position: $relative;
  left: 0;
}

///// hovered label & unchecked input

.hovered-label {
  @include element-size(22px, 22px);
  background: $gradient-bg;
  @include border-raduis(50%);
  position: $relative;
  left: 0;
  cursor: $pointer;
}

.hovered-span {
  content: "";
  position: $absolute;
  @include element-size(19px, 19px);
  background: $white;
  left: 1px;
  top: 1px;
  @include border-raduis(50%);
  @include border(none);
}

@media only screen and (max-width: 992px) {
  .container {
    width: calc(#{$width} - 30%);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: calc(#{$width} - 20%);
  }
  .background {
    height: 250px;
  }
  .desktop-size {
    visibility: hidden;
    display: none;
  }
  .mobile-size {
    visibility: visible;
    display: block;
    position: static;
  }
}
