@charset "UTF-8";
* {
  font-family: "Josefin Sans", sans-serif;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html .background,
body .background {
  z-index: -1;
  position: absolute;
}

.container {
  color: #393a4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 60%);
  margin: auto;
  padding: 5%;
}

.container header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 1rem;
}

.container header h1 {
  letter-spacing: 10px;
  color: #fff;
  margin: 0;
  font-size: 2.5em;
}

.container header img {
  height: 25px;
  width: 25px;
}

.container main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.container main > * {
  border-radius: 10px;
}

.container main .form-light, .container main .form-dark {
  padding: 6px 0 5px 20px;
}

.container main .form-light .add-task, .container main .form-dark .add-task {
  outline: none;
  width: calc(100% - 40%);
  border: none;
  font-size: 15px;
  padding: 15px;
}

.container main .form-light {
  background: #fff;
}

.container main .form-light .add-task {
  color: #393a4c;
}

.container main .form-dark {
  background: #393a4c;
}

.container main .form-dark .add-task {
  background: #393a4c;
  color: #e4e5f1;
}

.container main .form-dark .add-task::-webkit-input-placeholder {
  color: #e4e5f1;
}

.container main .form-dark .add-task:-ms-input-placeholder {
  color: #e4e5f1;
}

.container main .form-dark .add-task::-ms-input-placeholder {
  color: #e4e5f1;
}

.container main .form-dark .add-task::placeholder {
  color: #e4e5f1;
}

.container main .todo-box,
.container main .filter-tab {
  background: white;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.62);
}

.container main .light-mode {
  color: #393a4c;
  background: white;
}

.container main .dark-mode {
  color: #e4e5f1;
  background: #393a4c;
  border: none;
}

.container main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e4e5f1;
  margin: auto;
  padding: 20px;
}

.container main ul li label input {
  opacity: 0;
}

.container main ul li .todo-list-active {
  text-decoration: none;
  padding: 3px 0 0 15px;
}

.container main ul li .todo-list-inactive {
  text-decoration: line-through;
  color: #9394a5;
  padding: 3px 0 0 15px;
}

.container main ul li button {
  margin-left: auto;
  background: none;
  border: none;
}

.container main ul li button img {
  height: 80%;
  width: 80%;
}

.container main .bottom-navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: cal(35px - 20px);
  color: #9394a5;
  font-size: 12px;
  padding: 15px 20px;
}

.container main .bottom-navbar button {
  background: none;
  cursor: pointer;
  color: #9394a5;
  border: none;
}

.container main .bottom-navbar button:hover {
  color: #393a4c;
}

.container main .bottom-navbar button:focus {
  color: #3a7bfd;
}

.container main .bottom-navbar > * {
  margin: 0;
}

.container main .filter-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: cal(35px - 10px);
  padding: 20px;
}

.container main .filter-tab button {
  background: none;
  color: #9394a5;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

.container main .filter-tab button:hover {
  color: #393a4c;
}

.container main .filter-tab button:focus {
  color: #3a7bfd;
}

.mobile-size {
  display: none;
  visibility: hidden;
}

.checked-label {
  left: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(to bottom right, #57ddff, #c058f3);
  position: relative;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.checked-label .checked-span {
  position: absolute;
  left: 9px;
  top: 1px;
  font-size: 13px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.checked-label .checked-span::after {
  content: "✔";
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.checked-label span::before {
  content: "";
  opacity: 0;
}

.unhovered-label {
  border: 1px solid grey;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  left: 0;
}

.hovered-label {
  height: 22px;
  width: 22px;
  background: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(to bottom right, #57ddff, #c058f3);
  border-radius: 50%;
  position: relative;
  left: 0;
  cursor: pointer;
}

.hovered-span {
  content: "";
  position: absolute;
  height: 19px;
  width: 19px;
  background: #fff;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  border: none;
}

@media only screen and (max-width: 992px) {
  .container {
    width: calc(100% - 30%);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: calc(100% - 20%);
  }
  .background {
    height: 250px;
  }
  .desktop-size {
    visibility: hidden;
    display: none;
  }
  .mobile-size {
    visibility: visible;
    display: block;
    position: static;
  }
}
/*# sourceMappingURL=styles.css.map */