@import "variables";

* {
  font-family: $font-family;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  @include margin(0);
  @include padding(0);

  .background {
    z-index: -1;
    position: $absolute;
  }
}

.container {
  color: $very-dark-grayish-blue;
  display: $flex;
  flex-direction: column;
  width: calc(#{$width} - 60%);
  @include margin(auto);
  @include padding(5%);

  header {
    justify-content: space-between;
    display: $flex;
    @include margin(2rem 0 1rem);

    h1 {
      letter-spacing: 10px;
      color: $white;
      @include margin(0);
      @include font-size(2.5em);
    }
    img {
      @include element-size(25px, 25px);
    }
  }

  main {
    flex-direction: column;
    display: $flex;
    gap: $gap;

    & > * {
      @include border-raduis(5px);
    }

    .form-light,
    .form-dark {
      @include padding(6px 0 5px 20px);

      .add-task {
        outline: none;
        width: calc(#{$width} - 40%);
        @include border(none);
        @include font-size(15px);
        @include padding(15px);
      }
    }
    .form-light {
      background: $white;

      .add-task {
        color: $very-dark-grayish-blue;
      }
    }

    .form-dark {
      background: $very-dark-grayish-blue;

      .add-task {
        background: $very-dark-grayish-blue;
        color: $very-light-grayish-blue;

        &::placeholder {
          color: $very-light-grayish-blue;
        }
      }
    }

    .todo-box,
    .filter-tab {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.9px);
      -webkit-backdrop-filter: blur(4.9px);
      @include border-raduis(5px);
      @include border(1px solid rgba(255, 255, 255, 0.62));
    }

    .light-mode {
      color: $very-dark-grayish-blue;

      li {
        border-bottom: 1px solid $very-light-grayish-blue;
      }
    }

    .dark-mode,
    .dark-navbar {
      color: $very-light-grayish-blue;
      background: $very-dark-grayish-blue;
      border: none;
      box-shadow: 0px 2px 4px 0px $very-light-graying-blue;
      li {
        border-bottom: 1px solid $very-light-graying-blue;
      }
    }

    ul {
      list-style-type: none;
      @include margin(0);
      @include padding(0);

      li {
        overflow-x: hidden;
        display: $flex;
        @include margin(auto);
        @include padding(20px);

        .todo {
          width: 70%;
          word-wrap: normal;
    word-break: normal;
        }

        .todo-list-active {
          text-decoration: none;
          @include padding(3px 0 0 15px);
        }

        .todo-list-inactive {
          text-decoration: line-through;
          color: $dark-grayish-blue;
          @include padding(3px 0 0 15px);
        }

        button {
          margin-left: auto;
          background: none;
          @include border(none);

          img {
            max-height: 80%;
            max-width: 80%;
          }
        }
      }
    }

    .bottom-navbar {
      justify-content: space-between;
      display: $flex;
      gap: cal(#{$gap} - 20px);
      color: $dark-grayish-blue;
      @include font-size(12px);
      @include padding(15px 20px);

      button {
        background: none;
        cursor: $pointer;
        color: $dark-grayish-blue;
        @include border(none);

        &:hover {
          color: $very-dark-grayish-blue;
        }

        &:focus {
          color: $btn-blue;
        }
      }

      & > * {
        @include margin(0);
      }
      .btn-dark-mode:hover {
        color: $very-light-grayish-blue;
      }
    }

    //for btn in bottom navbar in mobile size
    .filter-tab {
      display: $flex;
      justify-content: center;
      gap: calc(#{$gap} - 20px);
      @include padding(20px);

      & button {
        font-weight: 700;
        background: none;
        color: $dark-grayish-blue;
        cursor: $pointer;
        @include border(none);
        @include font-size(16px);

        &:hover {
          color: $very-dark-grayish-blue;
        }

        &:focus {
          color: $btn-blue;
        }
      }
    }

    .dark-navbar {
      button:hover {
        color: $white;
      }
    }
  }
  footer {
    margin: 50px auto;
  }
}

.mobile-size {
  position: absolute;
  display: none;
  visibility: hidden; 

  button:focus {
    color: $btn-blue;
  }
}

/// new style for checkbox

li {
  list-style-type: none;
  label {
    border-radius: 50%;
    height: 17px;
    width: 16px;
    padding: 0px 1px 0px 1px;
  }

  //when input is not hovered light mode //
  .label-not-hovered {
    border: 1px solid $dark-grayish-blue;
  }

  // input is not hovered dark mode
  .label-not-hovered-dark {
    border: 1px solid hsl(236, 9%, 61%);

    img {
      background: hsl(237, 14%, 26%);
    }
  }

  //when input is hovered -light mode//
  .label-hovered {
    background: $gradient-bg;
    padding: 0px 1px 0px 1px;
    border-radius: 50%;
    height: 18px;
    width: 17px;
    img {
      background-color: white;
      border-radius: 50%;
      height: 16px;
      width: 17px;
      position: relative;
      top: 1px;
    }
  }

  //when input if hovered - dark mode

  .label-hovered-dark {
    padding: 0px 1px 0px 1px;
    border-radius: 50%;
    height: 18px;
    width: 17px;
    background: $gradient-bg;

    img {
      background-color: $very-dark-grayish-blue;
      border-radius: 50%;
      height: 16px;
      width: 17px;
      position: relative;
      top: 1px;
    }
  }

  //When input is checked - light mode 

  .label-checked {
    background: $gradient-bg;
    height: 20px;
    width: 18px;

    img {
      height: 12px;
      width: 12px;
      position: relative;
      top: 4px;
      left: 3px;
    }
  }

  //when input is hovered -dark mode//

  .label-checked-dark {
    background: $gradient-bg;
    height: 20px;
    width: 18px;

    img {
      height: 12px;
      width: 12px;
      position: relative;
      top: 4px;
      left: 3px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: calc(#{$width} - 30%);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    font-family: $font-family;
    width: calc(#{$width} - 10%);
  }
  .background {
    height: 250px;
  }
  .desktop-size {
    visibility: hidden;
    display: none;
  }
  .mobile-size {
    visibility: visible;
    display: block;
    position: static;

    button:hover {
      color: $btn-blue;
    }
  }

  .checked-span::after {
    color: white;
    top: -2px;
    left: -2px;
    @include font-size(11px);
  }
}
